body{
background: #D5D5D5;
background: -moz-linear-gradient(45deg, #D5D5D5 0%, #F1F1F1 50%, #FFFFFF 100%);
background: -webkit-linear-gradient(45deg, #D5D5D5 0%, #F1F1F1 50%, #FFFFFF 100%);
background: linear-gradient(45deg, #D5D5D5 0%, #F1F1F1 50%, #FFFFFF 100%);
}
.cuadro{
    margin-top:5%;
    margin-bottom: 5%;
    width:80%;
    height:65vh;
    background: #fff;
    border: 1px solid #9F9F9F;
border-radius: 7px;
}
.tex-min{height:20px;}
.white{background-color:#fff }
.container{
    background:transparent ;
}
.col-md-2{
    width:100%;
    display:grid;
    grid-template-columns:6fr 6fr;
    
}
.border-none{
    border:none;
}
.align-center{
    align-items: center;
}
.image{
    width:250px;
    height:250px;
}
.form-lbl{
    justify-content: center;
}
.form-control{
    background-color:ghostwhite;
    width:80%;
   
}
input[type="button"],input[type="submit"]{
     background-color: #59b747;
    border: 2px solid #59b747;
border-radius: 40px;
	-webkit-box-shadow:none;
    width:80%;
}



p{
    margin:0px;
}
@media only screen and (max-width: 700px) {
    .cuadro{
     width:98%;
     height:auto;
     
    }
    .login{
        margin:0px;
    }
    .white{
        margin:0px 0px 0px 0px;
    }
    .col-md-2{
        grid-template-columns:12fr;
        grid-template-rows:5fr 7fr;
    }
}